In [17]:
import numpy as np 
import pandas as pd

In [18]:
#leximi i dataset-it
data = pd.read_csv("fake_job_postings.csv")
print("- Numri i rekordeve", data.shape[0])
print("- Numri i atributeve (vetive)", data.shape[1])

- Numri i rekordeve 17880
- Numri i atributeve (vetive) 18

In [19]:
#shfaqja e te dhenave
data

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [20]:
# informatat lidhur me kolonat
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [5]:
# statistikat per kolonat
data.describe()

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,17880.000000,17880.000000,17880.000000,17880.000000,17880.000000
mean,8940.500000,0.042897,0.795302,0.491723,0.048434
std,5161.655742,0.202631,0.403492,0.499945,0.214688
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.750000,0.000000,1.000000,0.000000,0.000000
50%,8940.500000,0.000000,1.000000,0.000000,0.000000
75%,13410.250000,0.000000,1.000000,1.000000,0.000000
max,17880.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
# agregimi i vlerave null per te gjitha kolonat
data.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [22]:
# gjetja e duplikateve dhe fshirja e tyre
print(f' - Numri i duplikateve {data.duplicated().sum()}')
data = data.drop_duplicates()
print(f' - Vlerat pas largimit te duplikateve {data.shape[0]}')

 - Numri i duplikateve 0
 - Vlerat pas largimit te duplikateve 17880

In [23]:
# ndarja e atributeve
# te dhenat tekstuale
text_data = data[["title", "company_profile", "description", "requirements", "benefits","fraudulent"]]
text_data = text_data.fillna(' ')

text_data.head()

,title,company_profile,description,requirements,benefits,fraudulent
0,Marketing Intern,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0
1,Customer Service - Cloud Video Production,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0
2,Commissioning Machinery Assistant (CMA),Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0
3,Account Executive - Washington DC,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0
4,Bill Review Manager,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0

In [24]:
# te dhenat kategorike
categorical_data = data[["telecommuting", "has_company_logo", "has_questions", "employment_type", "required_experience", "required_education", "industry", "function","fraudulent"]]
categorical_data = categorical_data.fillna("None")

categorical_data.head()

,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,0,1,0,Other,Internship,None,None,Marketing,0
1,0,1,0,Full-time,Not Applicable,None,Marketing and Advertising,Customer Service,0
2,0,1,0,None,None,None,None,None,0
3,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [25]:
# transformimi i atributeve me te dhena tekstuale
# bashkimi i tyre ne nje atribut te vetem

text = text_data[text_data.columns[0:-1]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)
target = data['fraudulent']

print(len(text))
print(len(target))
text

17880
17880

0        Marketing Intern,We're Food52, and we've creat...
1        Customer Service - Cloud Video Production,90 S...
2        Commissioning Machinery Assistant (CMA),Valor ...
3        Account Executive - Washington DC,Our passion ...
4        Bill Review Manager,SpotSource Solutions LLC i...
                               ...
17875    Account Director - Distribution ,Vend is looki...
17876    Payroll Accountant,WebLinc is the e-commerce p...
17877    Project Cost Control Staff Engineer - Cost Con...
17878    Graphic Designer, ,Nemsia Studios is looking f...
17879    Web Application Developers,Vend is looking for...
Length: 17880, dtype: object

In [26]:
# pastrimi i te dhenave tekstuale

import time
import re
import string

def clean_text(text):
    
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text


# aplikimi i funksionit te pastrimit te te dhenave tekstuale
text = text.apply(lambda x: clean_text(x))
text.head(5)

0    marketing internwere  and weve created a groun...
1    customer service  cloud video  seconds the wor...
2    commissioning machinery assistant cmavalor ser...
3    account executive  washington dcour passion fo...
4    bill review managerspotsource solutions llc is...
dtype: object

In [27]:
# shfaqja e te dhenave kategorike
categorical_data

,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,0,1,0,Other,Internship,None,None,Marketing,0
1,0,1,0,Full-time,Not Applicable,None,Marketing and Advertising,Customer Service,0
2,0,1,0,None,None,None,None,None,0
3,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...
17875,0,1,1,Full-time,Mid-Senior level,None,Computer Software,Sales,0
17876,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,0,0,0,Full-time,None,None,None,None,0
17878,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,0,1,1,Full-time,Mid-Senior level,None,Computer Software,Engineering,0

In [28]:
# diskretizimi
data["fraud"] = pd.cut(data['fraudulent'],2,labels=['Real','Fake'])

In [29]:
# mostrimi
rows = data.sample(n = 5)
rows

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,fraud
10186,10187,Account Executive,"US, ,",NaN,NaN,NaN,To represent PROENZA SCHOULER - collection and...,DEVELOPMENT RESPONSIBILITIES:Build and maintai...,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Apparel & Fashion,Sales,0,Real
6943,6944,Call Center Logistics Professional,"US, CA, San Jose",NaN,NaN,"For 32 years APR Consulting, Inc. (APR) has be...",THIS IS A 12 MONTHS CONTRACTWill prepare or re...,Candidate must have professional communication...,NaN,0,1,1,Contract,Associate,Bachelor's Degree,Telecommunications,Customer Service,0,Real
16839,16840,Operations Graphic Artist,"PH, 00, Pasig City",NaN,NaN,NaN,The graphic artist for operations is responsi...,Qualifications• Candidate must possess at leas...,Compensation &amp; Benefits:Above the market B...,0,0,0,Full-time,Entry level,Associate Degree,Marketing and Advertising,Art/Creative,0,Real
16771,16772,Head of Marketing,"US, CA, San Francisco",NaN,100000-130000,We consider ourselves the ultimate solution fo...,Rentlytics is expanding its Marketing Team and...,As the Head of Marketing you should have: 10+...,We do everything we can to help you do your be...,0,1,1,Full-time,Executive,Bachelor's Degree,Computer Software,Marketing,0,Real
13575,13576,Digital Marketing Paid Intern,"GR, I, Athens",NaN,NaN,Why work with tapely#URL_60bf3d0de1168dd72ed6c...,About Us#URL_60bf3d0de1168dd72ed6cdab35c6587b9...,We are seeking a dynamic intern to help us man...,This is a minimum 3 month paid position with a...,0,1,0,Full-time,Internship,NaN,Internet,Marketing,0,Real

In [30]:
# fillimi i procesit te binarizimit
# permes funksionit iloc() behet zgjedhja e qelive te caktuara te dataset-it  
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
new_data = categorical_data.iloc[:10,:]

new_data

,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,0,1,0,Other,Internship,None,None,Marketing,0
1,0,1,0,Full-time,Not Applicable,None,Marketing and Advertising,Customer Service,0
2,0,1,0,None,None,None,None,None,0
3,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
5,0,0,0,None,None,None,None,None,0
6,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0
7,0,1,1,None,None,None,None,None,0
8,0,1,1,Full-time,Associate,None,Information Technology and Services,None,0
9,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,0

In [31]:
# shfaqja e te dhenave te binarizuara
lb.fit_transform(new_data['employment_type'])

array([[0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1]])